<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 [ngClass]="titleClasses">Welcome to {{ title }}</h1>
  <h2 [style.color]="titleStyle ? 'green' : 'orange'">Smaller Title {{ title }}</h2>
  <h3 [ngStyle]="titleStyles">Even Smaller Title {{ title }}</h3>
  <table>
    <tr>
      <!-- For Loop below repeats the dataService.cars array for each td tag in the table -->
      <td *ngFor="let carsArray of dataService.cars">
        {{ carsArray }}
      </td>
    </tr>
  </table>
  <p class="animate-demo" [@myTriggerAnimation]='state' (click)="animateMe()">I will animate</p>
  <button (mouseenter)="myEvent($event)">My Button</button>
  <button [disabled]="buttonStatus == 'disabled'">My Disabled Button</button>
  <ul>
    <!-- For Loop below repeats the myArray for each li tag -->
    <li *ngFor="let myArrayItems of myArray">{{ myArrayItems }}</li>  
  </ul>
  <ng-template #tmpl1>Truthy</ng-template>
  <ng-template #tmpl2>Falsey</ng-template>
  <app-my-new-component></app-my-new-component>
</div>